

img { width: 75%;
  padding-bottom: 30px;
    margin: auto;  

}

h1, h2 {

    text-align: center;
    padding: 20px;
}

p {
    padding: 20px;
    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }

  .fa-linkedin {
    /* background: #3B5998; */
    color: #3B5998
    
  }

  .fa-github {
    /* background:gray; */
    color: #3B5998
  }

  footer {
      
      margin: 0px;
      border: 0px;
      padding: 0px;
      

  }

  #contacttinfo {
    text-align: center;
  }

  a {
    text-align: center;
  }

  #center {
    text-align: center;
    margin: auto;
  }

  .totheright {
    text-align: right;
  }

  #uniquePic {
    width: 5%;
    height: 5%;
    
  }

  footer {
    margin: auto;
    text-align: center;
  }

  #hr {
    height: 1px;
        background-color: black;
        border: none;
        margin: 0px;
      border: 0px;
      padding: 0px;
      
  }


  #header {
    margin-bottom: 0px;
  }

  #footer {
    background-color: #e9ecef;
  }

  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  #top {
    
    float: left;
    margin: auto;
    text-align: center;
  }



  