

img { width: 100%;
    margin: 20px;
    display: in
    

}

h1, h2 {

    text-align: center;
    padding: 20px;
}

p {
    padding: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }

  .fa-linkedin {
    background: #3B5998;
    color: white;
    
  }

  .fa-github {
    background:gray;
    color: white;
  }

  footer {
      
      margin: 0px;
      border: 0px;
      padding: 0px;

  }

  #contacttinfo {
    text-align: center;
  }

  a {
    text-align: center;
  }